:not(.fontaw){
	font-family: 'Open Sans Condensed', sans-serif !important;
}

.navdiv{
  overflow: hidden;
	position: fixed;
	width: 100%;
	transition: top 0.3s;
	background-color: #D4D4D4;
	top: 0;
  left: 0;
  list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 25%;
	opacity: 1;
	transition: opacity 1s;
	z-index: 1;
  text-decoration: none;
}

.navdiv:hover {
	opacity: 1!important;
}

.navdiv a {
  padding: 10px 12px;
  text-decoration: bold;
  font-size: 1em;
}

.navDemo {
	width: 100% !important;
}


#about {
	width:100%;
	height:50%;
	display: flex;
	font-size: 1.8em;
}

#portfolio {
	padding-top: 20px;
	width:80%;
	min-height: 300px;
	background-color:#D4D4D4;
	margin: auto;
	text-align: center;
}

#portfoliodiv {
	padding-top: 40px;
}

#contact {
	background-color:#D4D4D4;
	 width:100%;
	 height:100%;
	 display: flex;
	 justify-content: center;
}
.contacttable {
	margin:auto 0px;
	background-color:#D4D4D4;
	width:100%;
	height:100%;
}

#prdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	align-items: center;
	width:85%;
	margin: auto;
}

.project {
  border: 1px solid black;
  border-radius: 1%;
  width: 200px;
  height: 200px;
  margin-top:10px;
	overflow-y: auto;
	vertical-align: middle;
}
.project:hover {
	background-color: black !important;
	color: #D4D4D4 !important;
  transition: color 0.5s;
	transition: background-color 0.5s;
}

#footer {
	background-color:#D4D4D4;
	width:100%;
	height:40%;
	display: flex;
	justify-content: center;
}


.td1disp{
	background-image:url("images/photo_2018-11-07_13-15-24.jpg");
  background-position: center;
	background-size: cover;
	overflow:hidden;
	max-height:55%;
	max-width:100%;
}

.pj{
	color:#591004;
}

hr {
	margin:auto;
	width:50%;
	border-color:grey;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(168,56,11);
  outline: 1px solid slategrey;
}

body, html {height: 100%}

.bgimg {
  background-image: url('images/IMG_0962.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
	background-attachment:fixed;
}
credit{
	font-size:10px !important;
}
.mySlides {display:none}
.demo {cursor:pointer}
/* : styles*/

button:hover, a:hover {
  opacity: 0.7;
}
a:link{
	color:#591004;
	text-decoration:none;
}
a:hover{
	color:#D4D4D4;
	text-decoration:none;
}
a:visited{
	color:#591004;
	text-decoration:none;
}
a:active{
	color:#D4D4D4;
	text-decoration:none;
}
.cnicons:hover
{
	font-size:20px !important;
}

.btnhover:hover {
	color:#D4D4D4 !important;
	background-color:#591004 !important;
}

.bluesites:hover{
	color:skyblue;
}

.github:hover{
	color:black;
}
.navitem:hover{
	display:none !important;
}

/* Media Queries*/

@media only screen and (max-width:768px)
{
	p,span,.tables{
  	font-size: 16px;
	}
}

@media only screen and (max-height:740px)
{
	h3{
		font-size:18px !important;
	}
	.td1disp
	{
		max-height:60% !important;
		-ms-max-height:60% !important;
	}
}

@media only screen and (max-height:670px)
{
	.td1disp
	{
		max-height:50% !important;
		-ms-max-height:50% !important;
	}
}

@media only screen and (min-width:768px)
{
	p,span {
  	font-size: 26px;
	}
}

@media only screen and (max-width:339px)
{
	p,span {
  	font-size: 12px !important;
	}
}

@media only screen and (max-width:281px)
{
	p,span {
  	font-size: 12px !important;
	}
}

@media only screen and (max-width:1010px)
{
	.footfont {
  	font-size: 24px !important;
	}
}

@media only screen and (max-width:1450px)
{
	h3 {
  	font-size: 17px !important;
	}
}

@media only screen and (max-width:1201px)
{
	h3 {
  	font-size: 16px !important;
	}
}

@media only screen and (max-width:362px)
{
	.footfont {
  	font-size: 12px !important;
	}
}

@media only screen and (max-width:247px)
{
	.footfont {
  	font-size: 10px !important;
		margin-left:18% !important;
	}
}

@media only screen and (max-width:765px)
{
	.credit {
  	display: none !important;
	}
}

@media only screen and (max-width:1050px)
{
	.tables{
		height:60% !important;
		width:80% !important;
	}

	#portfolio{
		height:60% !important;
		width:80% !important;
	}
	.slide{
		max-width:50% !important;
	}
}

@media only screen and (max-width:1367px)
{
	.slide{
		max-width:60% !important;
	}
}

@media only screen and (max-width:800px)
{
	#portfolio{
		height:100% !important;
		width:100% !important;
	}
	.tables{
		height:100% !important;
		width:100% !important;
	}
	.slide{
		max-width:80% !important;
	}
	.table1resp{
  	min-height: 100%;
  	background-size: cover;
	}
	.td1disp{
		display:none !important;
	}
}

@media only screen and (max-height:600px)
{
	.table1resp{
    min-height: 100%;
    background-size: cover;
	}
	.td1disp{
		display:none !important;
	}
}

@media only screen and (max-width:503px)
{
	#prdiv {
		justify-content: center !important;
	}
}

@media only screen and (max-height:420px)
{
	.table1resp,.landslidebig{
		width:60% !important;
	}
	.landslidesml{
		width:50% !important;
	}
}
