* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans Condensed';
}

body {
    background: url('../projpics/photo_2017-03-18_19-58-11.jpg');

    color:rgb(108,21,7);
    font-size: 24px;
    overflow-x: hidden;
    background-size:cover;
    background-repeat:no-repeat;
}

h1 {
    font-size: 2rem;
}

#survey-form {
    max-width: 70%;
    max-height: 80%;
    margin: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(213, 194, 194, 0.9);
    overflow-y: auto;
}

.navdiv{
    overflow: hidden;
    position: sticky;
    min-height:40px; 
	width:100%;
    height: auto;
    top: 0;
    left: 0;
    color: rgb(108,21,7);
    background-color: black;
    display: block;
    list-style: none;
    text-align: center;
}

.navdiv a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

fieldset {
    width: 70%;
    margin: auto;
}

a:link {
    text-decoration: none;
	color: rgb(108,21,7);
}
a:visited {
    text-decoration: none;
	color: rgb(108,21,7);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.btn {
	border:0px !important;
	cursor:pointer;
    border-radius: 3px;
    padding: 5px 8px;
}
.btn:hover{
    color: black !important;
	background-color:rgb(108,21,7) !important;
}
