body{
	font-family:'Open Sans Condensed';
	font-size:25px;
	color:rgb(108,21,7);
	border:0;
	margin:0;
	padding:0;
}
.font{
	font-family:'Open Sans Condensed';
	color:rgb(108,21,7);
}
.fontsize{
	font-size:1.8em;
	color:rgb(108,21,7);
}
.selectstyle {
    border: 0px;
    border-radius: 3px;
    overflow: hidden;
    padding: 4px 8px;
    box-shadow: none;
    background: transparent;
    user-select:none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
 .inputsstyle {
    border: 1px solid black;
    border-radius: 3px;
    overflow: hidden;
    padding: 5px 8px;
    box-shadow: none;
    background: transparent;
}
.btn {
	border:0px !important;
	cursor:pointer;
    border-radius: 3px;
    padding: 5px 8px;
}
.btn:hover{
    color: black;
	background-color:rgb(108,21,7);
}
.selectstyle:focus {
    outline: none;
}
.selectstyle:hover {
    color: black;
	background-color:rgb(108,21,7);
}
#results{
	width:100%;
	height:80%;
	position:absolute;
	margin-top:9%;
}
.fullscrdiv{
	background-image:url('../projpics/IMG_0957.JPG');
	background-size:cover;
	background-repeat:no-repeat;
	width:100%;
	height:100%;
	position:absolute;
}
.result:hover{
	font-weight:bold;
	font-size:1.1em;
}
.result{
	margin:0px;
	width:80%;
	background-color:rgba(117, 117, 117,0.8);
	border:1px solid black;
}
.navdiv{
	width:100%;
	background-color:black;
	position:absolute;
	z-index:1;
	margin-bottom:10%;
	
}
a:link {
    text-decoration: none;
	color:black;
}
a:visited {
    text-decoration: none;
	color:black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}